<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/layout.css.ejs") %>
    <style>
      #kc1,
      #kc2,
      #kc3,
      #kc5 {
        padding-left: 50px;
      }
    </style>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/giangvien">
              <div class="sidebar-brand-icon ">
                  <i class="fas fa-landmark"></i>
              </div>
              <div class="sidebar-brand-text mx-3" style="font-size: 13px;">QUẢN LÝ ĐỒ ÁN TỐT NGHIỆP</div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
              <a class="nav-link" href="/giangvien">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Trang chủ</span></a>
          </li>
       

          <!-- Divider -->
          <hr class="sidebar-divider">

          <li class="nav-item">
            <a class="nav-link" href="/giangvien/timkiemdetai">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Tìm kiếm đồ án</span></a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/giangvien/dangkytopic">
                  <i class="fas fa-fw fa-chart-area"></i>
                  <span>Đăng ký topic</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/giangvien/dssinhviendangky">
                  <i class="fab fa-jedi-order"></i>
                  <span>Duyệt danh sách đăng ký </span>
              </a>
              
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/giangvien/svhuongdanh">
                <i class="far fa-newspaper"></i>
                  <span>Sinh viên hướng dẫn</span>
              </a>
              
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/giangvien/doandahuongdan">
                <i class="far fa-newspaper"></i>
                  <span>Quản lý đồ án hướng dẫn</span>
              </a>
              
          </li>
          <!-- Nav Item - Charts -->
        
          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
              <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

       

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                  </button>

                  <!-- Topbar Search -->

                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">

                      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                     
                    

                      <!-- Nav Item - User Information -->
                      <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=giangvien.tengiangvien %> </span>
                              <img class="img-profile rounded-circle"
                                  src="http://localhost:8008/backend/img/undraw_profile.svg">
                          </a>
                          <!-- Dropdown - User Information -->
                          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                              aria-labelledby="userDropdown">
                              <a class="dropdown-item" href="/giangvien/thongtintaikhoan">
                                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Thông tin tài khoản
                              </a>
                              <a class="dropdown-item" href="/giangvien/caidat">
                                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Cài đặt
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal">
                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Đăng xuất
                              </a>
                          </div>
                      </li>

                  </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-4">
            <h5 class="m-0 font-weight-bold text-primary">
              Danh sách đề tài của giảng viên
            </h5>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a
              style="text-align: right"
              class="dropdown-item"
              href="#"
              data-toggle="modal"
              data-target="#addcate"
            >
              <i
                class="fas fa-plus-square"
                style="font-size: 20px; color: #4e73df"
              ></i>
              Thêm đề tài
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Chủ đề</th>
                <th>Đề tài</th>
                <th>Tùy chọn</th>
                
              </tr>
            </thead>

            <tbody>
              <% ds_gv.rows.forEach(function(ds_gv){ %>
              <tr>
                <td><%= ds_gv.tenchude %></td>
                <td><%= ds_gv.tendetai %></td>
                <td>
                  <ul style="list-style: none;display: flex;">
                    <li> <a  href="#" data-toggle="modal"
                            data-target="#updatecate<%=ds_gv.IDdetai %>">
                            <i class='fas fa-pencil-ruler'
                                style='font-size:20px; color: blue;'></i>&nbsp;&nbsp;&nbsp; 
                        </a>
                    </li>
                    <li> <a 
                            href="./xoa_dangkytopic/<%= ds_gv.IDdetai %>"
                            onclick=" confirm('Are you sure you want to delete this item?');"><i
                                class="fas fa-trash"
                                style='font-size:20px; color: 	#FF3333;'></i>&nbsp;&nbsp;&nbsp; </a>
                    </li>
                </ul>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% ds_gv.rows.forEach(function(ds_gv){ %>
    <div class="modal fade" id="updatecate<%=ds_gv.IDdetai %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa đề tài giảng viên</i></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Tên Đề tài</label>
                    <input type="text" class="form-control" name="tendetai" value="<%= ds_gv.tendetai %>" >
                </div>
            
              <div class="form-group">
                  <label for="exampleInputPassword1">Chọn chủ đề</label>
                  <select name="IDchude" class="form-control">
                    <option value="<%= ds_gv.IDchude %>">
                      <%= ds_gv.tenchude %>
                  </option>
                      <% chude.rows.forEach(function(chude){ %>
                          <option value="<%= chude.IDchude %>">
                              <%= chude.tenchude %>
                          </option>
                          <% }); %>
                  </select>
              </div>
              <button type="submit" class="btn btn-primary" style="width: 120px;" data-dismiss="modal">Thêm đề tài</button>
            </div>
          
           
            
        </div>
    </div>
</div>
<% }); %>
      <div class="modal fade" id="addcate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content" style="width: 700px;">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Thêm mới đề tài giảng viên</i></h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                          <label for="exampleInputPassword1">Tên Đề tài</label>
                          <input type="text" class="form-control" name="tendetai"  id="tendetai" >
                      </div>
                  
                    <div class="form-group">
                        <label for="exampleInputPassword1">Chọn chủ đề</label>
                        <select name="IDchude" id="IDchude" class="form-control">
                            <% chude.rows.forEach(function(chude){ %>
                                <option value="<%= chude.IDchude %>">
                                    <%= chude.tenchude %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" id="dangky" style="width: 120px;" data-dismiss="modal">Thêm đề tài</button>
                  </div>
                
                 
                  
              </div>
          </div>
      </div>

    <%- include("./layout/layout.footer.ejs") %>
    <%-include("./layout/layout.js.ejs") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <script type="text/javascript">
      function notify(name) {
        $.notify(name, "success");
      }
    </script>
    <script>
      $(document).ready(function () {
        $("#dangky").click(async function () { var data = await {
          tendetai: document.getElementById("tendetai").value,
          IDchude: document.getElementById("IDchude").value,
     
    };
    var f = await fetch("http://localhost:8008/giangvien/them_dangkytopic", {
      method: "POST", // or 'PUT'
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    }).then(response => response.json())
    .then(data => {notify(data.message);setTimeout(() => {
    location.reload()
  }, 1000);});
   });

   
        
    
});
    </script>
  </body>
</html>
