<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/layout.css.ejs") %>
    <style>
      #avata {
        width: 100px;
        height: 50px;
        clip-path: circle(25px at 50% 50%);
      }
      #kc1,
      #kc2,
      #kc3,
      #kc5 {
        padding-left: 50px;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/sinhvien">
            <div class="sidebar-brand-icon ">
                <i class="fas fa-landmark"></i>
            </div>
            <div class="sidebar-brand-text mx-3" style="font-size: 13px;">QUẢN LÝ ĐỒ ÁN TỐT NGHIỆP</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/sinhvien">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span></a>
        </li>
     

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
          <a class="nav-link" href="/sinhvien/timkiemdetai">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Tìm kiếm đồ án</span></a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="/sinhvien/danhsachgiangvien">
                <i class="fas fa-calendar"></i>
                <span>Tìm kiếm giảng viên <span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sinhvien/dangkydetai">
              <i class="fas fa-fw fa-table"></i>
              <span>Đăng ký đề tài</span></a>
      </li> 
       <li class="nav-item">
          <a class="nav-link dangky" href="/sinhvien/nopdoan">
              <i class="fab fa-jedi-order"></i>
              <span>Nộp đồ án</span></a>
      </li>
    
    


        <!-- Nav Item - Charts -->
      
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

     

    </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                  </button>

                  <!-- Topbar Search -->
                 
                
                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">

                     

             

                      <!-- Nav Item - User Information -->
                      <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=sinhvien.tensinhvien %></span>
                              <img class="img-profile rounded-circle"
                                  src="http://localhost:8008/uploads/<%=sinhvien.anhsinhvien %>">
                          </a>
                          <!-- Dropdown - User Information -->
                          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                              aria-labelledby="userDropdown">
                              <a class="dropdown-item" href="/sinhvien/thongtintaikhoan">
                                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Thông tin tài khoản
                              </a>
                              <a class="dropdown-item" href="/sinhvien/caidat">
                                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Cài đặt
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal">
                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Đăng xuất
                              </a>
                          </div>
                      </li>

                  </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-4">
            <h6 class="m-0 font-weight-bold " style="color: #858796;">
              Quản lý giảng viên
            </h6>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div style="margin-bottom: 30px; margin-left: 150px">
          <form
            action="/sinhvien/loc_giangvien"
            method="POST"
            enctype="application/x-www-form-urlencoded"
          >
            <table>
              <tr>
                <th id="kc1">
                  <div class="form-group">
                    <label for="exampleInputPassword1"
                      >Đề tài theo chuyên ngành</label
                    >
                    <select class="form-control" name="IDdonvi">
                      <option value="">Chọn đơn vị</option>
                      <% donvi.rows.forEach(function(donvi){ %>
                      <option value="<%= donvi.IDdonvi %>">
                        <%= donvi.tendonvi %>
                      </option>
                      <% }); %>
                    </select>
                  </div>
                </th>
                <th id="kc5">
                  <button
                    type="submit"
                    style="margin-top: 15px"
                    class="btn btn-primary"
                  >
                    Tìm kiếm
                  </button>
                </th>
              </tr>
            </table>
          </form>
        </div>
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Ảnh giảng viên</th>
                <th>Tên giảng viên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Chuyên ngành</th>
                <th>Tùy chọn</th>
              </tr>
            </thead>

            <tbody>
              <% ds_giangvien.rows.forEach(function(ds_giangvien){ %>
              <tr>
                <td>
                  <img
                    src="http://localhost:8008/uploads/<%=ds_giangvien.anhgiangvien %>"
                    style=" width: 50px;
                    height: 50px;
                        clip-path: circle(25px at 50% 50%);" 
                  />
                </td>
                <td><%= ds_giangvien.tengiangvien %></td>
                <td><%= ds_giangvien.email %></td>
                <td><%= ds_giangvien.sodienthoai %></td>
                <td><%= ds_giangvien.tendonvi %></td>

                <td>
                  <div class="btn-group">
                    <a
                      
                      href="<%=ds_giangvien.IDgiangvien %>"
                      data-toggle="modal"
                      data-target="#detailcate<%=ds_giangvien.IDgiangvien %>"
                    
                      ><i class="fas fa-eye"
                      style='font-size:20px; color: lightsalmon;'></i>&nbsp;&nbsp;&nbsp;
                    </a>
                  </div>
                  <div class="btn-group">
                    <a
                      
                      href="<%=ds_giangvien.IDgiangvien %>"
                      data-toggle="modal"
                      data-target="#sendMail<%=ds_giangvien.IDgiangvien %>"
                      ><i class="fa fa-envelope" style='font-size:20px; color: #4e73df'></i>
                    </a>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <% ds_giangvien.rows.forEach(function(ds_giangvien){ %>
    <div
      class="modal fade"
      id="detailcate<%=ds_giangvien.IDgiangvien %>"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
              style="color: #858796;"
            >
              Chi tiết giảng viên
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Mã giảng viên</th>
                  <td><%= ds_giangvien.IDgiangvien %></td>
                </tr>
                <tr>
                  <th>Tên giảng viên</th>
                  <td><%= ds_giangvien.tengiangvien %></td>
                </tr>
                <tr>
                  <th>Giới tính</th>
                  <td><%= ds_giangvien.gioitinh %></td>
                </tr>
                <tr>
                  <th>Năm sinh</th>
                  <td><%= ds_giangvien.namsinh %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= ds_giangvien.email %></td>
                </tr>
                <tr>
                  <th>Số điện thoại</th>
                  <td><%= ds_giangvien.sodienthoai %></td>
                </tr>
                <tr>
                  <th>Địa chỉ</th>
                  <td><%= ds_giangvien.diachi %></td>
                </tr>
                <tr>
                  <th>Ảnh giảng viên</th>
                  <td>
                    <img
                      src="http://localhost:8008/uploads/<%=ds_giangvien.anhgiangvien %>"
                      style="width: 100px"
                    />
                  </td>
                </tr>
                <tr>
                  <th>Hướng nghiên cứu</th>
                  <td><%= ds_giangvien.huongnghiencuu %></td>
                </tr>
                <tr>
                  <th>Học vị</th>
                  <td><%= ds_giangvien.hocvi %></td>
                </tr>
                <tr>
                  <th>Chức vụ</th>
                  <td><%= ds_giangvien.chucvu %></td>
                </tr>
                <tr>
                  <th>Khoa</th>
                  <td><%= ds_giangvien.Khoa %></td>
                </tr>
                <tr>
                  <th>Chuyên ngành</th>
                  <td><%= ds_giangvien.tendonvi %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div
    class="modal fade"
    id="sendMail<%=ds_giangvien.IDgiangvien %>"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="width: 700px">
        <div class="modal-header">
          <h5
            class="modal-title"
            id="exampleModalLabel"
            style="color: #858796;"
          >
            Liên hệ giảng viên
          </h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            action="/sinhvien/sendMail"
            method="POST"
            enctype="application/x-www-form-urlencoded"
          >
          <div class="form-group ">

            <input
              type="hidden"
              class="form-control"
              name="emailgiangvien"
              value="<%=ds_giangvien.email %>"
            />
          </div>
            <div class="form-group ">
              <label for="exampleInputPassword1">Tiêu đề</label>
              <input
                type="text"
                class="form-control"
                name="tieude"
              />
            </div>
            <div class="form-group ">
              <label for="exampleInputPassword1">Nội dung</label>
              <textarea  class="form-control" name="noidung" rows="6" cols="100"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Gửi</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <% }); %> <%- include("./layout/layout.footer.ejs") %>
    <%-include("./layout/layout.js.ejs") %>
  </body>
</html>
