<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./layout/layout.css.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css" />
  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/giangvien">
            <div class="sidebar-brand-icon ">
                <i class="fas fa-landmark"></i>
            </div>
            <div class="sidebar-brand-text mx-3" style="font-size: 13px;">QUẢN LÝ ĐỒ ÁN TỐT NGHIỆP</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/giangvien">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Trang chủ</span></a>
        </li>
     

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
          <a class="nav-link" href="/giangvien/timkiemdetai">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Tìm kiếm đồ án</span></a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="/giangvien/dangkytopic">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Đăng ký topic</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/giangvien/dssinhviendangky">
                <i class="fas fa-calendar"></i>
                <span>Duyệt danh sách đăng ký </span>
            </a>
            
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/giangvien/svhuongdanh">
              <i class="fas fa-clipboard-check"></i>
                <span>Sinh viên hướng dẫn</span>
            </a>
            
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/giangvien/doandahuongdan">
              <i class="fab fa-jedi-order"></i>
                <span>Quản lý đồ án hướng dẫn</span>
            </a>
            
        </li>
        <!-- Nav Item - Charts -->
      
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

     

    </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                  </button>

                  <!-- Topbar Search -->

                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">

                      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                     
                    

                      <!-- Nav Item - User Information -->
                      <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=giangvien.tengiangvien %> </span>
                              <img class="img-profile rounded-circle"
                                  src="http://localhost:8008/uploads/<%=giangvien.anhgiangvien %>">
                          </a>
                          <!-- Dropdown - User Information -->
                          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                              aria-labelledby="userDropdown">
                              <a class="dropdown-item" href="/giangvien/thongtintaikhoan">
                                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Thông tin tài khoản
                              </a>
                              <a class="dropdown-item" href="/giangvien/caidat">
                                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Cài đặt
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal">
                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                  Đăng xuất
                              </a>
                          </div>
                      </li>

                  </ul>

              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">
    <h5 class="m-0 font-weight-bold text-primary">Thông tin tài khoản giảng viên</h5></br></br>
    <div class="row">
      <div class="col-3">
        <div><img src="http://localhost:8008/uploads/<%=thongtin.anhgiangvien %>" alt="" style="width:250px; margin-left: 30px;margin-top: 50px;"></div>
      </div>
      <div class="col-8">
          <form
          action="/giangvien/capnhatthongtin"
          method="POST"
         enctype="multipart/form-data"
        >
        <div class="form-group col-md-6">
          <input
            type="hidden"
            class="form-control"
            name="IDgiangvien"
            value="<%=thongtin.IDgiangvien %>"
            id="IDgiangvien"
          />
        </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1"><b>Tên giảng viên</b></label>
              <input
                type="text"
                class="form-control"
                name="tengiangvien"
                value="<%=thongtin.tengiangvien %>"
                id="tengiangvien"
              />
              
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1"><b>Email</b></label>
              <input
                type="text"
                class="form-control"
                name="email"
                value="<%=thongtin.email %>"
                id="email"
              />
            </div>
        </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1"><b>Địa chỉ</b></label>
              <input
                type="text"
                class="form-control"
                name="diachi"
                value="<%=thongtin.diachi %>"
                id="diachi"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1"><b>Số điện thoại</b></label>
              <input
                type="text"
                class="form-control"
                name="sodienthoai"
                value="<%=thongtin.sodienthoai %>"
                id="sodienthoai"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="formFileMultiple" class="form-label"
              >Ảnh giảng viên</label
            >
            <input
              class="form-control"
              type="file"
              name="anh"
              id="anh"
              multiple
              required
              
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><b>Hướng nghiên cứu</b></label>
            <textarea  class="form-control" name="huongnghiencuu" id="huongnghiencuu" rows="4" cols="50"><%=thongtin.huongnghiencuu %></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary chinhsua">Chỉnh sửa</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/giangvien" class="btn btn-primary">Trở lại</a>
          </div>
      </form>
      </div>
      <div class="col-1"></div>
    </div>
    <%-include("./layout/layout.footer.ejs") %>
    <%-include("./layout/layout.js.ejs") %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>


    <script type="text/javascript">
      function notify(name) {
        $.notify(name, "success");
      }
    </script>
      <!-- <script>
        $(document).ready(function () {
          $(".chinhsua").click(async function () { var data = await {
        IDgiangvien: document.getElementById("IDgiangvien").value,
        tengiangvien: document.getElementById("tengiangvien").value,
        email: document.getElementById("email").value,
        diachi: document.getElementById("diachi").value,
       // anh: document.getElementById("anh").value,
        huongnghiencuu: document.getElementById("huongnghiencuu").value,

       
      };
      var f = await fetch("http://localhost:8008/giangvien/capnhatthongtin", {
        method: "POST", // or 'PUT'
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      }).then(response => response.json())
      .then(data => {notify(data.message);setTimeout(() => {
      location.reload()
    }, 3000);});
     });
          
      
  });
  </script> -->
  </body>
</html>
